@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(228, 238, 252, 0.87);
  background-color: #161725;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}




::-webkit-scrollbar {
  /* width: 5px;
  border-radius: 5px;
  background: #161725; */
  display: none;
}

* {
  scrollbar-width: none;
}

/* Set the scrollbar color (optional) */
*::-webkit-scrollbar {
  width: 12px;
  /* Adjust the width as needed */
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  /* Adjust the color as needed */
  border-radius: 6px;
  /* Adjust the radius as needed */
}

/* 
::-webkit-scrollbar-thumb {
  background: #2f3263;
  border-radius: 10px;
}


/* Track */
/* ::-webkit-scrollbar-track {
  background: #232538;
} */



/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #4a4c85;
}  */